@model Super_Cartes_Infinies.Models.Card

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attack" class="control-label"></label>
                <input asp-for="Attack" class="form-control" />
                <span asp-validation-for="Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label"></label>
                <input asp-for="Health" class="form-control" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form asp-action="DeleteCardPower">
            <p>
                Pouvoir(s) que la carte possède
            </p>
            <ul>
                @foreach (var cardPower in Model.CardPowers)
                {
                    <li class="powers">
                        <div>
                            @(cardPower.Power.IconeURL + " " + cardPower.Power.Name +
                                (cardPower.Power.Name == "First strike" ? "" : " " + cardPower.Value))
                        </div>
                        <div class="form-group no-margin">
                            <input type="hidden" name="cardPowerId" value="@cardPower.Id" />
                            <input type="hidden" name="cardId" value="@Model.Id" />
                            <input type="submit" value=" X " class="btn btn-danger btn-sm" />
                        </div>
                    </li>
                }
            </ul>
        </form>
        <form asp-action="AddCardPower">
            <div class="form-group no-space">
                <label for="powerId" class="control-label">Pouvoir</label>
                <select id="powerId" name="powerId" class="form-control" asp-items="@(ViewData["PowersList"] as SelectList)">
                    <option value=""> Select Power </option>
                </select>
            </div>
            <div class="form-group margin">
                <label for="powerValue" class="control-label">Valeur du pouvoir</label>
                <input type="number" id="powerValue" name="powerValue" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="cardId" value="@Model.Id" />
                <input type="submit" value="Ajouter pouvoir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .form-group {
        margin-bottom: 15px;
    }

    .no-margin {
        margin: 0px;
    }

    .powers {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    ul {
        list-style-type: disc;
    }
</style>

